body {
  text-align: center;
  background: #ddeefc;
  font-size: 16px;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

#enterDetails {
  display: block;
  margin: 50px auto;
  width: 480px;

  line-height: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  color: #007bff;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 1em;
  border: 1px solid #ced4da;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  max-width: 90%;

  padding-bottom: 80px;
}

#findDetails {
  display: block;
  margin: 100px auto;
  width: 480px;

  line-height: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  color: #007bff;
  background-color: #fff;
  box-sizing: border-box;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 1em;
  border: 1px solid #ced4da;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  max-width: 90%;

  color: #6f1ab6;
}
h1 {
  margin: -5px auto;
}

h4 {
  text-align: left;
  margin: 20px 0px 0px 70px;
}

button {
  border-radius: 0.2rem;
  color: #fff;

  height: 45px;
  width: fit-content;
  padding: 0 20px;
  background: #2364d2;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  display: inline;

  @media screen and (max-width: 480px) {
    margin-top: 10px;
  }
}

#find {
  background-color: #6f1ab6;
}

input {
  width: 70%;
  height: 35px;
  border-radius: 0.2rem;
  box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

p1 {
  color: #000;
}

p2 {
  float: right;
}
